@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  background-color: #f4f4f4;
  font-family: 'Poppins', sans-serif;
}

.carousel {
  position: relative;
  height: 800px;
  overflow: hidden;
  margin-top: -50px;
}

.carousel .list {
  position: absolute;
  width: 1140px;
  max-width: 90%;
  height: 80%;
  left: 50%;
  transform: translateX(-50%);
}

.carousel .list .item {
  position: absolute;
  left: 0%;
  width: 70%;
  height: 100%;
  font-size: 15px;
  transition: left 0.5s, opacity 0.5s, width 0.5s;
}

.carousel .list .item img {
  width: 50%;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: right 1.5s;
}

.carousel .list .item .introduce {
  opacity: 0;
  pointer-events: none;
}

.carousel .list .item.active .introduce {
  opacity: 1;
  pointer-events: auto;
}

.carousel .arrows {
  position: absolute;
  bottom: 10px;
  width: 1140px;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  left: 50%;
  transform: translateX(-50%);
}

button {
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
